*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  #userChoice {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  height: 100vh;
  min-width: 100px;
  align-items: center;
}
img{
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
}
img:hover {
  transform:scale(1.2);
  border:3px solid rgba(0,0,0,0.9);
}
#rock {
  height: 100px;
  width: auto;
  margin: 20px;
  margin-bottom: 70px;
}
#paper {
  height: 100px;
  width: auto;
  margin: 20px;
}
#scissor {
  height: 100px;
  width: auto;
  margin: 20px;
  margin-top: 70px;
}
#topKo {
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;
  right: 20px;
}
#comChoicePic {
  height: 60px;
  width: auto;
}
.next{
  display: none;
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
#roboChoice{
  margin:30px;
  display: flex;
  flex-direction: row;
}
#nameDec {
  color: #7a0303;
  text-align: center;
  border-radius: 7px;
  border: none;
  background-color: rgba(0,0,0,0.2);
  padding-top: 10px;
  margin-top: 8px;
  width: 180px;
  height: 40px;
  box-shadow: 3px 3px 5px black;
}
#result{
  display: flex;
  flex-direction: row;
}
#replayButton {
  height: 48px;
  width: 150px;
  border: none;
  background-color: rgba(0,0,0,0.6);;
  border-radius: 7px;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.4);
  color: rgb(240, 14, 14);
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
}
#replayButton:hover {
  background: rgb(202, 202, 21);
}
#resetBtn {
  height: 48px;
  width: 100px;
  text-align: center;
  padding-top: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(16, 199, 223, 0.6);
  border-radius: 7px;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.8);
  color: rgb(219, 165, 16);
  font-size: 23px;
  font-weight: bold;
}
#resetBtn:hover {
  color: rgba(8, 245, 225, 0.6);
  background-color: rgb(219, 165, 16);
}
@media (max-width:550px) {
  #result{
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10px;
  }
  #roboChoice{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .next{
    justify-content: flex-start;
  }
  .aggregateResult{
    font-weight: 200;
    padding: 5px;
    font-size: 12px;
  }
  #resetBtn {
    height: 36px;
    width: 70px;
    font-size: 15px;
    font-weight: 500;
  }
  #rock {
    height: 80px;
    width: auto;
  }
  #paper {
    height: 80px;
    width: auto;
  }
  #scissor {
    height: 80px;
    width: auto;
  }
}
.aggregateResult{
  position: absolute;
  right: 0px;
  top: 0px;
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
}
.myScore{
  color: rgb(12, 199, 12);
}
.computerScore{
  color: red;
}
